*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 0.6em;
    height: 0.5em;
    outline: 0
}

::-webkit-scrollbar-thumb {
    background: rgb(177, 29, 29);
    outline: 0
}

::-webkit-scrollbar-track {
    background: transparent;
}



body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

html{
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "PTSans-Regular", sans-serif;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

button,
a {
    outline: 0;
    text-decoration: none;
}

button{
    background: transparent;
    border: none;
    outline: 0 !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Geometria-Regular", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul, li{
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
}

.wrapper{
    margin-top: 90px;
}

.icon.toggle{
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    border: none;
}

.icon.toggle i {
    background-color: #00FFEC;
    width: 30px;
    height: 3px;
    display: block;
    position: relative;
    transition: 0.32s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.icon.toggle i:nth-child(2) {
    top: 4px;
}

.icon.toggle i:nth-child(3) {
    top: 8px;
}

.toggle-button{
    cursor: pointer;
}

.toggle-button.toggle-button_open .toggle i:nth-child(1) {
    transform: rotateZ(-52deg) translate(-5px, 6px);
}

.toggle-button.toggle-button_open .toggle i:nth-child(2) {
    opacity: 0;
}

.toggle-button.toggle-button_open .toggle i:nth-child(3) {
    top: 4px !important;
    transform: rotateZ(49deg) translate(-1px, -3px);
}

.alt-menu .alt-menu__nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-menu .alt-menu__nav ul li{
    color: #fff;
    font-size: 36px;
    margin: 20px 0;
}

.alt-menu .alt-menu__nav ul li a{
    color: #fff;
}
